{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Time Records{% endblock %}</h1>
{% endblock %}

{% block content %}


<form hx-post="/change_day" hx-target="#tbody">
   <input type="date" name="selected_date" >
    <input type="submit" value="Select">
</form>

<div hx-include="#selected-rows" hx-target="#tbody">
    <button class="btn" hx-put="/update_activity" hx-vals='{"activity": "1"}'>1</button>
    <button class="btn" hx-put="/update_activity" hx-vals='{"activity": "2"}'>2</button>
    <button class="btn" hx-put="/update_activity" hx-vals='{"activity": "3"}'>3</button>
</div>

<form id="selected-rows">
    <table>
        <thead>
            <tr>
                <th align="left">select</th>
                <th align="left">hour</th>
                <th align="left">activity</th>
            </tr>
        </thead>
        <tbody id="tbody">
        {% include 'blog/rows.html' %}
        </tbody>
    </table>
</form>

{% endblock %}
